// Colors
$blue:                  #0d6efd;
$blue-dark:             #3e5eaa;
$blue-light:            #23d3d3;
$brown:                 #8b3c04;
$green:                 #00aa55;
$green-dark:            #002525;
$green-light:           #25d366;
$olive:                 #b3c211;
$orange:                #f39a35;
$purple:                #8e44ad;
$red:                   #d20023;
$yello:                 #ffb400;
$yello-light:           #eae328;
$pink:                  #ff3874;

$primary:               $blue-light;
$secondary:             #8c9299;
$text-color:            #212529;
$main-bg-color:         #f2f2f2;